@use 'variables' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: $font-family;
    color: $black;
    background-color: $white;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

img {
    display: block;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
