@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.host {
    display: flex;
    align-items: center;
    gap: 10px;

    &__name {
        text-align: right;
        color: $primary;
        font-size: 18px;
        font-weight: 500;
        max-width: 100px;

        @include mobile {
            font-size: 12px;
            max-width: 80px;
        }
    }

    &__picture {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        object-fit: cover;

        @include mobile {
            width: 32px;
            height: 32px;
        }
    }
}
